In [20]:
import networkx as nx
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import numpy.linalg as lin
os.chdir('C:\\Users\\gabri\\Desktop\\OMA\\9.NGSA\\all')

In [21]:
file = pd.read_csv('node_information.csv', header = None)

In [22]:
file.columns = ['node','year','title','author','field','description']

In [23]:
file.head()

,node,year,titl,author,field,description
0,1001,2000,compactification geometry and duality,Paul S. Aspinwall,NaN,these are notes based on lectures given at tas...
1,1002,2000,domain walls and massive gauged supergravity p...,"M. Cvetic, H. Lu, C.N. Pope",Class.Quant.Grav.,we point out that massive gauged supergravity ...
2,1003,2000,comment on metric fluctuations in brane worlds,"Y.S. Myung, Gungwon Kang",NaN,recently ivanov and volovich hep-th 9912242 cl...
3,1004,2000,moving mirrors and thermodynamic paradoxes,Adam D. Helfer,Phys.Rev.,quantum fields responding to moving mirrors ha...
4,1005,2000,bundles of chiral blocks and boundary conditio...,"J. Fuchs, C. Schweigert",NaN,proceedings of lie iii clausthal july 1999 var...

In [25]:
DG = nx.DiGraph()

In [26]:
DG.add_nodes_from(file['node'].values.tolist())

In [32]:
df = pd.read_csv('training_set.txt', delimiter =' ', header = None)

In [34]:
df.columns = ['id1','id2','value']

In [35]:
df.head()

       id1      id2  value
0  9707075  9604178      1
1  9312155  9506142      0
2  9911255   302165      0
3  9701033   209076      0
4  9710020  9709228      1

In [37]:
df.iloc[0]

id1      9707075
id2      9604178
value          1
Name: 0, dtype: int64

In [39]:
for i in range(df.shape[0]):
    if df.iloc[i]['value'] == 1:
        DG.add_edge(df.iloc[i]['id1'],df.iloc[i]['id2'])