In [1]:
import networkx as nx
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import numpy.linalg as lin
os.chdir('C:\\Users\\gabri\\Desktop\\OMA\\9.NGSA\\all')

In [2]:
file = pd.read_csv('node_information.csv', header = None)

In [3]:
file.columns = ['node','year','title','author','field','description']

In [4]:
file.head()

,node,year,title,author,field,description
0,1001,2000,compactification geometry and duality,Paul S. Aspinwall,NaN,these are notes based on lectures given at tas...
1,1002,2000,domain walls and massive gauged supergravity p...,"M. Cvetic, H. Lu, C.N. Pope",Class.Quant.Grav.,we point out that massive gauged supergravity ...
2,1003,2000,comment on metric fluctuations in brane worlds,"Y.S. Myung, Gungwon Kang",NaN,recently ivanov and volovich hep-th 9912242 cl...
3,1004,2000,moving mirrors and thermodynamic paradoxes,Adam D. Helfer,Phys.Rev.,quantum fields responding to moving mirrors ha...
4,1005,2000,bundles of chiral blocks and boundary conditio...,"J. Fuchs, C. Schweigert",NaN,proceedings of lie iii clausthal july 1999 var...

In [5]:
DG = nx.DiGraph()

In [6]:
DG.add_nodes_from(file['node'].values.tolist())

In [7]:
df = pd.read_csv('training_set.txt', delimiter =' ', header = None)

In [8]:
df.columns = ['id1','id2','value']

In [9]:
df.head()

       id1      id2  value
0  9510123  9502114      1
1  9707075  9604178      1
2  9312155  9506142      0
3  9911255   302165      0
4  9701033   209076      0

In [10]:
df.iloc[0]

id1      9510123
id2      9502114
value          1
Name: 0, dtype: int64

In [11]:
for i in range(df.shape[0]):
    if df.iloc[i]['value'] == 1:
        DG.add_edge(df.iloc[i]['id1'],df.iloc[i]['id2'])

In [126]:
def compute_stats(network, source, target):
    if nx.has_path(network, source=source, target=target):
        all_path = nx.all_shortest_paths(network, source=source, target=target)
        n_path = 0
        for a in all_path:
            n_path +=1
        shortest_length =  nx.shortest_path_length(network, source=source, target=target)
    else:
        n_path = 0
        shortest_length = -1
    s_an = nx.all_neighbors(network, source)
    t_an = nx.all_neighbors(network, target)
    s = []
    for i in s_an:
        s.append(i)
    t = []
    for i in t_an:
        t.append(i)
    count = 0
    for elt in s:
        if elt in t:
            count += 1
    n_common = count
    return n_path,shortest_length, n_common

In [127]:
import time
t0 = time.time()
a,b,c = compute_stats(DG, 9710020 ,9708086  )
print(time.time()-t0)

0.13364386558532715

In [128]:
a, b, c

(1, 2, 5)